@font-face {
  font-family: "Graphik";
  src: local("Graphik Medium"), local("Graphik-Medium"), url("/fonts/Graphik-Medium.woff2") format("woff2"), url("/fonts/Graphik-Medium.woff") format("woff"), url("/fonts/Graphik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
body {
  font-family: "Graphik";
}

.link {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.title {
  font-size: 52px;
  line-height: 62px;
  text-align: center;
  color: #fff;
}

.subtitle {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #fff;
}

.text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #fff;
}

.btn {
  background: none;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  transition: background 0.2s ease-in, border 0.2s ease-in;
}
.btn:hover {
  background-color: #4452FE;
  border: 1px solid #4452FE;
  transition: 0.2s ease-in;
}

.features {
  background-color: #0e0e0e;
  color: black;
  padding-top: 50px;
  padding-bottom: 100px;
}

.features__title {
  margin-bottom: 25px;
}

.features__subtitle {
  max-width: 600px;
  margin: 0 auto 80px auto;
}

.features-screens__second {
  display: block;
}

.features-info {
  display: flex;
  max-width: 1030px;
  margin: 0 auto;
}

.features-screens {
  position: relative;
}

.features-screens__second {
  position: absolute;
  top: 65%;
  right: -4%;
}

.features-description {
  margin-left: 50px;
}

.features-description__block {
  margin-bottom: 50px;
}
.features-description__block:last-child {
  margin-bottom: 0;
}

.features-description__header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.features-description__img {
  display: block;
  margin-right: 10px;
  margin-top: 5px;
}

.features-description__subtitle {
  max-width: 153px;
  text-align: left;
}

.contents {
  padding: 150px 0;
  background-color: #181811;
}

.contents__title {
  margin-bottom: 20px;
}

.contents__subtitle {
  max-width: 590px;
  margin: 0 auto 50px auto;
  text-align: center;
}

.contents-cards {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.contents-card {
  max-width: 400px;
  padding: 40px 35px 0;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
}

.contents-card__title {
  margin-bottom: 30px;
}

.contents-card__text {
  max-width: 280px;
  margin: 0 auto;
  color: #5C5C5C;
}

.contents-card__btn-1 {
  padding: 15px 45px;
  margin: 60px;
  background-color: #4452FE;
}

.contents-card__btn-2 {
  padding: 15px 45px;
  margin: 40px 0 30px 0;
  background-color: #4452FE;
}

.contents-card__img {
  display: block;
  max-width: 100%;
}

.header {
  background-color: #0e0e00;
  padding-top: 20px;
}

.header__nav {
  display: flex;
  margin: 0 auto;
  max-width: 1020px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 125px;
}

.header__link {
  margin-right: 50px;
  transition: 0.2s ease-in;
}
.header__link:last-child {
  margin-right: 0;
}
.header__link:hover {
  color: #4452FE;
  transition: 0.2s ease-in;
}

.header__btn {
  padding: 10px 30px;
}

.header__title {
  max-width: 700px;
  margin: 0 auto 35px auto;
  text-align: center;
  font-size: 80px;
  font-weight: 500;
  line-height: 88px;
  color: #fff;
}

.header__subtitle {
  max-width: 585px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.header__buttons {
  display: flex;
  justify-content: center;
  column-gap: 35px;
  margin-bottom: 35px;
}

.header__img {
  display: flex;
  margin: 0 auto;
  max-width: 1500px;
}