@font-face {
    font-family: 'Graphik';
    src: local('Graphik Medium'), local('Graphik-Medium'),
        url('/fonts/Graphik-Medium.woff2') format('woff2'),
        url('/fonts/Graphik-Medium.woff') format('woff'),
        url('/fonts/Graphik-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

$blue:#4452FE;

body{
    font-family: 'Graphik';
}
.header,
.gallery,
.footer,
.testimonials,
.partners,
.features,
.contents{
    padding: 0 15px;
}
.link{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}
.title{
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #fff;
}
.subtitle {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #fff;
}
.text{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #fff;
}
.btn{
    background: none;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    transition: background 0.2s ease-in, border 0.2s ease-in;

    &:hover{
        background-color: $blue;
        border: 1px solid $blue;
        transition: 0.2s ease-in;
    }
}
.contents,
.gallery,
.partners,
.testimonials {
    padding-top: 50px;
    background-color: #181818;
}

.contents__title,
.gallery__title,
.partners__title,
.features__title,
.testimonials__title {
    margin-bottom: 25px;
}
.contents__subtitle,
.gallery__subtitle,
.partners__subtitle,
.features__subtitle {
    max-width: 590px;
    margin: 0 auto 25px auto;
}
@media (min-width: 576px) {
    .contents,
    .gallery,
    .partners,
    .testimonials {
        padding-top: 100px;
    }
    .title{
        font-size: 52px;
        line-height: 62px;
    }
    .text {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #fff;
    }
}
@media (min-width: 768px) {
    .contents,
    .gallery,
    .partners,
    .testimonials {
        padding-top: 160px;
    }
    .subtitle{
        font-size: 20px;
        line-height: 30px;
    }
    .contents__subtitle,
    .gallery__subtitle,
    .partners__subtitle,
    .features__subtitle {
        margin: 0 auto 50px auto;
    }
}

