.features{
    background-color: #0e0e0e;
    color: black;
    padding-top: 50px;
    padding-bottom: 100px;
}
.features-screens__second{
    display: block;
}
.features-info {
    display: flex;
    justify-content: center;
    max-width: 1030px;
    margin: 0 auto;
}
.features-screens {
    display: none;
    position: relative;
}
.features-screens__second {
    position: absolute;
    top: 65%;
    right: -4%;
}
.features-description {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
}
.features-description__block {
    margin: 0 auto 50px auto;
    display: flex;
    max-width: 256px;
    flex-direction: column;

    &:last-child{
        margin-bottom: 0;
    }
}
.features-description__header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}
.features-description__img {
    display: block;
    margin-right: 10px;
    margin-top: 5px;
}
.features-description__subtitle {
    max-width: 153px;
    text-align: left;
}

@media (min-width: 576px) {
    .features-description {
        margin-left: 50px;
    }
}
@media (min-width: 768px) {
    .features-info {
        justify-content: flex-start;
    }
    .features-screens {
        display: block;
    }
    .features-screens__first,
    .features-screens__second{
        max-width: 100%;
    }
    .features-screens__second { 
        top: 40%;
    }
}
@media (min-width: 1200px) {
    .features-screens__first{
        max-width: none;
    }
    .features-screens__second {
        top: 65%;
    }
}